.orders-summary-card{

    position:relative;

    overflow:hidden;

    padding:25px;

    border-radius:18px;

    color:#fff;

    box-shadow:0 12px 30px rgba(0,0,0,.15);

    transition:.3s;

}
.orders-summary-card:hover{

    transform:translateY(-6px);

}
.orders-summary-card h6{

   font-weight:500;

    font-size:.9rem;

    margin-bottom:10px;

}
.orders-summary-card h3{

    font-size:2rem;

    font-weight:700;

}
.orders-summary-icon{
    width:60px;
    height:60px;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:22px;
}

.orders-card-total{

    background:linear-gradient(135deg,#667eea,#764ba2);

}

.orders-card-pending{

    background:linear-gradient(135deg,#ff9966,#ff5e62);

}

.orders-card-preparing{

    background:linear-gradient(135deg,#f6d365,#fda085);

}

.orders-card-completed{

    background:linear-gradient(135deg,#43cea2,#185a9d);

}

.orders-card-revenue{

    background:linear-gradient(135deg,#11998e,#38ef7d);

}


.orders-filter-box{
    background:#fff;
    padding:20px;
    border-radius:16px;
    margin-bottom:25px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
}

.orders-table-card{
    background:#fff;
    padding:20px;
    border-radius:16px;
    box-shadow:0 2px 10px #d7b9b9;
}
